<div class="container pt-3">
  <div class="card border-rounded">
    <p-table [value]="myEvents" stripedRow [styleClass]="'px-3'">
      <ng-template #caption>
        <div class="d-flex align-items-center justify-content-between">
          <span class="fw-bold">My Events</span>
          <p-button
            icon="pi pi-plus-circle"
            label="New"
            [routerLink]="['/event/create']"
          />
        </div>
      </ng-template>

      <ng-template #header>
        <tr>
          <th class="text-start">#</th>
          <th>Name</th>
          <th class="text-center">PIN</th>
          <th class="text-center">Start time</th>
          <th class="text-center">Lucky draw</th>
          <th class="text-center">Voting</th>
          <th class="text-center">Status</th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template #body let-event>
        <tr>
          <td class="text-start">
            {{ myEvents.indexOf(event) + 1 }}
          </td>
          <td>
            {{ event.name }}
          </td>
          <td class="text-center">
            {{ event.pin }}
          </td>
          <td class="text-center">
            {{ event.startTime | date : "HH:mm, dd-MMMM-yyyy " }}
          </td>
          <td class="text-center">
            <b>From</b>:
            {{ event.luckyDrawStartTime | date : "HH:mm, dd-MMMM-yyyy " }}
            <br />
            <b>To</b>:
            {{ event.luckyDrawEndTime | date : "HH:mm, dd-MMMM-yyyy" }}
          </td>
          <td class="text-center">
            <b>From</b>:
            {{ event.votingStartTime | date : "HH:mm, dd-MMMM-yyyy " }}
            <br />
            <b>To</b>: {{ event.votingEndTime | date : "HH:mm, dd-MMMM-yyyy" }}
          </td>
          <td class="text-center" [noWrap]="true">
            <p-badge
              *ngIf="isLarger(event.startTime, currentDate)"
              value="Not Started"
              badgeSize="xlarge"
              severity="danger"
            />
            <p-badge
              *ngIf="!isLarger(event.startTime, currentDate)"
              value="Started"
              badgeSize="xlarge"
              severity="success"
            />
          </td>
          <td class="text-end">
            <div class="d-flex justify-content-end gap-2">
              <p-button
                icon="pi pi-eye"
                severity="info"
                [routerLink]="['/event/manage', event.id]"
              />
              <p-button
                icon="pi pi-pencil"
                [routerLink]="['/event/edit', event.id]"
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
