// Variables
$background-image-url: '/assets/images/bg-check-in.png';

::placeholder {
    opacity: 0.8;
}

.app-container {
  min-height: 94vh !important;
  background-image: url($background-image-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

::ng-deep .p-select {
  display: flex;
  align-items: center;
}

