::placeholder {
    opacity: 0.8;
}

.app-container {
  min-height: 94vh !important;
  background-image: linear-gradient(220.55deg, #24CFC5 0%, #001C63 100%);
}

::ng-deep .p-select {
  display: flex;
  align-items: center;
}

