<div *ngIf="!isLoggedIn" class="center-content">
  <p-card styleClass="width: auto; max-width: 90vw;">
    <div class="text-center">
      <div *ngIf="luckyDrawCode; else prizesSearchTemplate">
        <div class="mb-2 fs-4 text-secondary">Your lucky draw code:</div>
        <h1 class="display-3 fw-bold text-primary">{{ luckyDrawCode }}</h1>
      </div>

      <ng-template #prizesSearchTemplate>
        <p class="mb-2 fs-4 text-secondary">
          Check out your prizes!
        </p>
        <div class="mt-4">
          <p-button
            styleClass="w-100"
            size="large"
            label="Search Now"
            icon="pi pi-gift"
            severity="primary"
            (onClick)="showParticipateDialog()"
          />
        </div>
      </ng-template>
    </div>
  </p-card>
</div>
