<p-menubar [model]="navbarMenuItems">
  <ng-template #appMenuItem let-appMenuItem>
    <p-button class="flex items-center p-menu-item-link" [routerLink]="['{{appMenuItem.routerLink}}']">
      <span [class]="appMenuItem.icon"></span>
      <span class="ms-2">{{ appMenuItem.label }}</span>
    </p-button>
  </ng-template>

  <div *ngIf="!(loggedInUser$ | async)">
    <!-- <p-button class="me-2" label="Sign Up" [routerLink]="['/sign-up']"></p-button> -->
    <p-button [routerLink]="['/log-in']" [text]="true" severity="primary">
      <img src="assets/images/nse-logo.png" alt="Log In" style="max-width: 50px;" />
    </p-button>
  </div>

  <div *ngIf="loggedInUser$ | async as loggedInUser">
    <p-avatar (click)="menu.toggle($event)" [label]="loggedInUser.firstName[0]" [style]="{
        'background-color': '#ece9fc',
        color: 'black',
        height: '40px',
        width: '40px'
      }" shape="circle" />
    <p-menu #menu [model]="userMenuItems" [popup]="true" [style]="{ right: 0 }">
      <ng-template #userMenuItem let-userMenuItem>
        <a pRipple class="flex items-center p-menu-item-link" [routerLink]="userMenuItem.routerLink">
          <span [class]="userMenuItem.icon"></span>
          <span class="ml-2">{{ userMenuItem.label }}</span>
        </a>
      </ng-template>
    </p-menu>
  </div>

  <div class="position-relative w-auto">
    <p-dialog [(visible)]="isQRCodeScannerDialogVisible" [modal]="true" [styleClass]="'w-75'" (onHide)="closeQRCodeScannerDialog()"
      [style]="{ 'max-width': '300px' }" [dismissableMask]="true" [resizable]="false">
      <ngx-scanner-qrcode #scanner="scanner" [isBeep]="false"
        (event)="scanPrivateEventQrCode($event)">
      </ngx-scanner-qrcode>
    </p-dialog>
  </div>

  <div class="position-relative w-auto">
    <p-dialog 
      [(visible)]="isCheckInSuccessDialogVisible" 
      [modal]="true" 
      [styleClass]="'w-75'"
      [style]="{ 'max-width': '300px' }" 
      [dismissableMask]="true" 
      [resizable]="false"
      header="Check In">
      <div class="text-center py-3">
        <i
          [class]="isReceivedPrizeDialogVisible ? 'pi pi-question-circle text-warning' : 'pi pi-check-circle text-success'" 
          style="font-size: 3rem;">
        </i>
        <p class="mt-3 mb-0" style="white-space: pre-line;">{{ checkInMessage }}</p>
      </div>
      <ng-template pTemplate="footer">
        <div *ngIf="!isReceivedPrizeDialogVisible" class="d-flex justify-content-center">
          <p-button label="OK" (onClick)="closeCheckInDialog()" />
        </div>
        <div *ngIf="isReceivedPrizeDialogVisible" class="d-flex justify-content-center gap-2">
          <p-button label="OK" severity="success" (onClick)="confirmReceivePresent()" />
          <p-button label="Cancel" severity="secondary" (onClick)="closeCheckInDialog()" />
        </div>
      </ng-template>
    </p-dialog>
  </div>

</p-menubar>